body{background: url(images/button-1.png) center top no-repeat #000; background-size: cover;font-family: 'Montserrat', sans-serif; background-attachment: fixed;}
a:hover{text-decoration: none;}

header{display: table; width: 100%; max-width: 1200px; margin: 100px auto;}
h1{display: table; width: 90%; max-width: 350px; float: left;}
h1 a{display: table; width: 100%;}
h1 a img{display: table; width: 100%;}
.carousel_custom_holder{display: table; width: calc(100% - 400px); float: right;}

section{display: table; width: 100%; max-width: 1200px; margin: 0 auto;}
.thumbnail_container{display: table; width:25%; float: left; margin: 0 0 40px 0px;}
.thumbnail_content{display: table; width:calc(100% - 20px); padding-left: 10px;}
.thumbnail_content h2{display: table; width: 100%; text-align: center; color: rgb(163, 144, 163); font-size: 1.4em; font-weight: bold; letter-spacing: 1px; margin-bottom: 15px;}
.thumbnail_photo_container{display: table; width:100%; position: relative;border-radius: 5px; border:3px solid #f5d104; overflow: hidden; margin-bottom: 20px;transition: ease all 0.5s;}
.thumbnail_link_container{display: block; opacity: 0; transition: ease all 0.3s; background: rgba(0, 0, 0, 0.8); position: absolute; left: -30%; margin-left:130px; width:280px; height: 180px; }
.thumbnail_photo_container:hover .thumbnail_link_container{opacity: 1; left: -50%;}
.thumbnail_link_container a{display: table; width: 50%; float: left; color: #fff; font-weight: bold; text-decoration: none; padding-top: 43px; height: 100%;}
.thumbnail_link_container a div{display: table; width: 100%; text-align: center; margin-bottom: 10px;}

.thumbnail_link_container a img{display: table; margin: 0 auto;}
.thumbnail_link_container a:first-child div:after{ display: block; position: absolute; content: ''; border-left: 1px solid #fff; height: 100px; left: 140px; top: 35px;}
.thumbnail_link_container a:hover{color: #FED14D}
.thumbnail_photo_container:hover{border-color:#FED14D }
nav{display: table; width: 100%; position: relative;}
nav a{display: table; width: 33.3%; float: left; text-align: center; color: rgb(163, 144, 163); text-decoration: none; font-size: 0.7em;}
nav a:after{
    display: block;
    content: '';
    position: absolute;
    border-right: 1px solid rgb(5, 5, 5);
    height: 60px;
    top: 4px;}
.windows_download:after{display: none;}
nav a span{margin-top: 40px; display: table; width: 100%;}


.windows_download{display: table; background: url(images/button-20_4.png) center top no-repeat; background-size: 60px;padding-top: 20px;}
.apple_download{display: table; background: url(images/button-17_4.png) center top no-repeat; background-size: 60px;padding-top: 20px;}
.android_download{display: table; background: url(images/button-16_4.png) center top no-repeat; background-size: 60px;padding-top: 20px;}




.whatsapp{display: table; width: 100%; background: url(images/photo.jpg); position: fixed; top: 0; left: 0; z-index: 99}
.whatsapp .inner_wrapper{display: table; max-width: 1200px; margin:0 auto; width: 90%;}
.whatsapp a{display: table; float: right; width: auto; cursor:pointer;}
.whatsapp img{display: table; width: 45px; height: auto; margin:4px;}

.qrimg{width: 100%!important;}
